.text-center{
    text-align: center;
    color:white;
    font-weight: 900;
  }
  
  .bg-red{
    background: red;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }

.main-container {
  border:2px solid black;
  border-radius: 10px;
  width: 320px;
  background-color:white;
}